#rcorners1 {
  border-radius: 50px;
  border: 2px solid #06a6f0;
  padding: 25px;
  width: 340px;
  height: auto;
}

#rcorners2 {
  border-radius: 50px;
  border: 2px solid #83f129;
  padding: 20px;
  width: 340px;
  height: auto;
}

table {
  width: 100;
  border-collapse: collapse;
}
