
#rcorners1 {
    border-radius:  50px;
    border: 2px solid rgb(6, 166, 240);
    padding: 25px;
    width: 340px;
    height: auto;

}

#rcorners2 {
    border-radius:  50px;
    border: 2px solid rgb(131, 241, 41);
    padding: 20px;
    width: 340px;
    height: auto;

}

table {
    width: 100;
    border-collapse: collapse;
}